/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*COMMON*/
.contenitore{
    width: 99%;
    
    margin: auto;

}

/*HEADER*/
header{
    background-color: #4ea0ff;
    background-image: url(../img/pattern.png);
    height: 190px;
    
}
.logo{
    width: 20%;
}
#logo-img{
    margin-top: 90px;
    margin-left: 10px;
}
main h1{
    font-size: 80px;
    margin-top: 20px;
}
#autore{
    font-size: 30px;
}
#booleaner{
    color: #2daee6; 
}
.immagini{
    margin-top: 25px;
   
   
}
.tim{
    background-size: cover;
}
